@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

:host {
  display: block;
}

:host ::ng-deep .report-map-panel .leaflet-top .leaflet-control {
  margin-top: 5.55rem;
}

@media (max-width: 480px) {
  :host ::ng-deep .report-map-panel .leaflet-top .leaflet-control {
    margin-top: 5.2rem;
  }
}
